.pp {
  height: 100vh;
  background: linear-gradient(to left, #5252fa,#ff00cc);
}
.login-page{
  width: 650px;
  height: 450px;
  background: rgb(235, 235, 235);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all .4s;
}
.login-page:hover{
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.300);
}
.media-back{
  background: linear-gradient(to left, #5252fa,#ff00cc);
}
.media-page{
  transition: all .3s;
}
.media-page:hover{
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.300);
  background-color: #ff47e0;
}
.h1{
  margin-bottom: 30px;
}
.login-page-input {
  width: 250px;
  height: 35px;
  margin: 8px;
  background: rgb(218, 218, 218);
  border: none;
  padding-left: 10px;
  outline: none;
}
.btn{
  width: 250px;
  height: 35px;
  margin: 8px;
  background: rgba(111, 169, 255, 0.8);
  color: #e2e2e2;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .4s;
}
.btn:hover{
  background: #f041e1cc;
}
.searchInput{
  width: 450px;
  height: 35px;
  margin: 20px;
  background: rgb(255, 136, 229);
  border: none;
  padding-left: 10px;
  outline: none;
  margin-left: auto;
  margin-right: auto;
}

